<launch>
  <arg name="device_model" default="MS200"/>
  <arg name="frame_id" default="laser"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="port_name" default="/dev/ttyUSB0"/>
  <arg name="baudrate" default="230400"/>
  <arg name="angle_min" default="0.0"/>
  <arg name="angle_max" default="360.0"/>
  <arg name="range_min" default="0.05"/>
  <arg name="range_max" default="20.0"/>
  <arg name="clockwise" default="false"/>
  <arg name="motor_speed" default="10"/>
  <arg name="rviz_config" default="$(find oradar_lidar)/rviz/oradar_scan.rviz"/>

  <include file="$(find oradar_lidar)/launch/ms200_scan.launch">
    <arg name="device_model" value="$(arg device_model)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
    <arg name="port_name" value="$(arg port_name)"/>
    <arg name="baudrate" value="$(arg baudrate)"/>
    <arg name="angle_min" value="$(arg angle_min)"/>
    <arg name="angle_max" value="$(arg angle_max)"/>
    <arg name="range_min" value="$(arg range_min)"/>
    <arg name="range_max" value="$(arg range_max)"/>
    <arg name="clockwise" value="$(arg clockwise)"/>
    <arg name="motor_speed" value="$(arg motor_speed)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
</launch>
